#btn {
  height: 150px;
  width: 100px;
  margin: 15px;
  background-color: #9f0000;
  border: none;
}

button:hover {box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}

.x {
  height: 50px;
  width: 30px;
  margin: 15px;
}

#a {
}

#sys {
  display: none;
}
button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"] {
    width: 100px;
}

